/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt { tapping-term-ms = <3000>; };

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <14 13>;
        };

        shift+command {
            bindings = <&kp LS(LEFT_GUI)>;
            key-positions = <27 28>;
        };

        shift {
            bindings = <&sk_behavior LSHIFT>;
            key-positions = <37 40>;
        };

        shif_alt {
            bindings = <&kp LS(RIGHT_ALT)>;
            key-positions = <31 32>;
        };

        next_tab {
            bindings = <&kp LG(RIGHT_BRACE)>;
            key-positions = <32 33>;
        };

        prev_tab {
            bindings = <&kp LG(LEFT_BRACE)>;
            key-positions = <27 26>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <19 20 21>;
        };

        caps {
            bindings = <&kp LOCKING_CAPS>;
            key-positions = <38 39>;
        };
    };

    behaviors {
        pht: positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <100>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <1>;
        };

        pht100: positional_hold_tap_100 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <120>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <1>;
        };

        pht150: positional_hold_tap_150 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <1>;
        };

        pht160: pht160 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <1>;
            label = "PHT160";
        };

        pht160a: pht160a {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <1>;
        };

        pht160b: pht160b {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <1>;
        };

        pht160c: pht160c {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <1>;
        };

        pht160d: pht160d {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <1>;
        };

        pht160e: pht160e {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            retro-tap;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <1>;
        };

        pht160f: pht160f {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <200>;
            retro-tap;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <1>;
        };

        sk_behavior: sk_behavior {
            compatible = "zmk,behavior-sticky-key";
            label = "SK_BEHAVIOR";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
&trans  &kp Q                  &kp W             &kp E                &kp R                &kp T    &kp Y          &kp U                 &kp I                 &kp O             &kp P                           &trans
&trans  &pht160f LEFT_SHIFT A  &pht160f LCTRL S  &pht160f LEFT_ALT D  &pht160f LEFT_GUI F  &kp G    &kp H          &pht160f RIGHT_GUI J  &pht160f RIGHT_ALT K  &pht160f RCTRL L  &pht160f RIGHT_SHIFT SEMICOLON  &trans
&trans  &kp Z                  &kp X             &kp C                &kp V                &kp B    &kp N          &kp M                 &kp COMMA             &kp DOT           &kp SLASH                       &trans
                                                 &kp LGUI             &mo 1                &mo 2    &kp BACKSPACE  &kp SPACE             &lt 3 ENTER
            >;
        };

        symbol_layer {
            label = "Raise";
            bindings = <
&trans  &kp EXCL  &kp AT  &kp HASH       &kp DLLR          &kp PRCNT                   &kp CARET          &kp AMPS        &kp ASTERISK  &kp LPAR          &kp RPAR           &trans
&trans  &trans    &trans  &kp LESS_THAN  &kp GREATER_THAN  &kp NON_US_BACKSLASH        &kp SINGLE_QUOTE   &kp MINUS       &kp EQUAL     &kp LEFT_BRACE    &kp RIGHT_BRACE    &trans
&trans  &trans    &trans  &trans         &kp ENTER         &kp LS(NON_US_BACKSLASH)    &kp DOUBLE_QUOTES  &kp UNDERSCORE  &kp PLUS      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
                          &trans         &trans            &trans                      &kp RET            &kp BACKSLASH   &kp PIPE
            >;
        };

        number_layer {
            bindings = <
&trans  &kp N1    &kp N2     &kp N3        &kp N4        &kp N5    &kp N6    &kp N7          &kp N8        &kp N9     &kp N0   &trans
&trans  &kp CAPS  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_GUI  &trans    &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &mo 4    &trans
&trans  &kp F1    &kp F2     &kp F3        &kp F4        &kp F5    &kp F11   &kp F12         &kp F8        &kp F9     &kp F10  &trans
                             &trans        &trans        &trans    &trans    &trans          &trans
            >;
        };

        layer_3 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    |BTCLR|     | SPC |   | ENT |     | ALT |

            label = "layer3";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_4 {
            label = "Lower";
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_CLR    &trans        &trans        &trans        &bootloader     &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };
    };
};
